

.h1
{
  text-align: center;
}
.texte1 {
position: absolute;
top: 215px;
left: 138px;
}


.image2
{
position: absolute;
top: 100px;
left: 1200px;

}

.texte2 {
position: absolute;
top: 215px;
left: 1238px;
}



.image3
{
position: absolute;
top: 400px;
left: 100px;

}

.texte3 {
position: absolute;
top: 515px;
left: 138px;
}


.image4
{
position: absolute;
top: 400px;
left: 1200px;

}

.texte4 {
position: absolute;
top: 515px;
left: 1238px;
}


.image5
{
position: absolute;
top: 600px;
left: 500px;

}


.image6
{
position: absolute;
top: 670px;
left: 515px;

}


.image7
{
  position: absolute;
  top: 550px;
  left: 515px;
}
