
.texte1
{
  position: absolute;
top: 175px;
left: 125px;

  padding : 1em;
   width: 25%;
   height: 75px;
   box-sizing: border-box;

   background-color: #E4E4D9;


   background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                       linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                       linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                       linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                       linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                       linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                       linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                       linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                       linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                       linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                       linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                       linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
}

.image5
{
  position: absolute;
top: 270px;
left: 1275px;
}

.image6
{
  position: absolute;
top: 475px;
left: 1275px;
}



.texte2
{
  position: absolute;
top: 500px;
left: 550px;

  padding : 1em;
   width: 25%;
   height: 200px;
   box-sizing: border-box;

   background-color: #E4E4D9;



}


.texte3
{
  position: absolute;
top: 300px;
left: 550px;

  padding : 1em;
   width: 25%;
   height: 75px;
   box-sizing: border-box;

   background-color: #E4E4D9;



}

.texte4
{
  position: absolute;
top: 200px;
left: 625px;

  padding : 1em;
   width: 25%;
   height: 75px;
   box-sizing: border-box;





}
