#fondmenu{
  width: 100%;
  height: 50px;
  background: linear-gradient(#873FE9,#7F32E9);
  border-radius: 0px 0px 4px 4px;
}
#menu{
  margin-right:auto;
  margin-left:50px;
  display: table;
  padding :0;
  margin-top: 0;
}
#menu li{
  display:table-cell;
  width : 180px;
  transition: 1s;
}
#menu li:hover{
  width: 190px;
  transition: 1s;

}
#menu a{
  color: white;
  text-decoration: none;
  display: block;
  line-height: 41px;
  text-align: center;
  margin-top: 0px;
}
#menu a:hover{
  color: black;
  background: rgba(255, 255, 255, 0.1);
  transition: 1s;
  border-bottom: 4px solid rgba(255,255,255,0.8);
}
#titre{
  color: #DABFFF;
}
#slogan {
  color: purple;
font-style: italic;
}
#profil{
margin-right: 1525px;
box-shadow: 2px 2px 2px 2px ;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
background-color: #DCCFBA
}
* {
  margin:5px
}
footer{
  font-size: 10px;
  margin-left: 80px
